---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
  <article>
    <header class="mb-12">
      <time
        datetime={post.data.pubDate.toISOString()}
        class="font-bold text-black bg-fuchsia-500 px-2 py-1 inline-block"
      >
        {
          post.data.pubDate.toLocaleDateString("en-us", {
            year: "numeric",
            month: "long",
            day: "numeric",
          })
        }
      </time>
      <h1
        class="uppercase font-black mb-4 leading-tight text-6xl md:text-3xl mt-6"
      >
        {post.data.title}
      </h1>
      <p class="text-2xl italic border-l-[10px] border-cyan-400 pl-4 mt-4">
        {post.data.description}
      </p>
    </header>
    <div class="prose">
      <Content />
    </div>
  </article>

  <div class="mt-16">
    <a
      href="/"
      class="inline-block px-6 py-3 border-4 border-black dark:border-white bg-cyan-400 font-bold uppercase cursor-pointer shadow-brutal transition-all duration-100 active:translate-x-0.5 active:translate-y-0.5 active:shadow-none"
      >BACK TO BASE</a
    >
  </div>
</BaseLayout>
